<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barista_app"
        tools:targetApi="31">
        <activity
            android:name=".cinnamonlatte_resep"
            android:exported="false" />
        <activity
            android:name=".cappuccino_resep"
            android:exported="false" />
        <activity
            android:name=".bavariancoffee_resep"
            android:exported="false" />
        <activity
            android:name=".icedmocha_resep"
            android:exported="false" />
        <activity
            android:name=".vanillacoffee_resep"
            android:exported="false" />
        <activity
            android:name=".italianespresso_resep"
            android:exported="false" />
        <activity
            android:name=".classicespresso_resep"
            android:exported="false" />
        <activity
            android:name=".coffeeindonesia_resep"
            android:exported="false" />
        <activity
            android:name=".caramelcoldcoffee_resep"
            android:exported="false" />
        <activity
            android:name=".blackcoffee_resep"
            android:exported="false" />
        <activity
            android:name=".list_menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Splash Screen sebagai launcher -->
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity lainnya -->
        <activity
            android:name=".homepage"
            android:exported="false" />
    </application>

</manifest>